<!DOCTYPE html>
<html>
  <head>
    <title>Word Counter</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h2> Welcome To Word Counter!</h2>
    <div class="container">
      <img src='~/img/snowdeer.jpg' alt='deer image'/>
      <button type="button"><a href='/wordcounter/new'>Begin</a></button>
    </div>
  </body>
</html>
